@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0 auto 0;
    height: 100vh;
    background: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 45vh;
    background: url('bgheaderResized.jpeg') 0px -250px no-repeat;
    background-size: cover;
}
hr {
    visibility: hidden;
}

  /* ------------------ */
.menuContainer ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    padding: 0;
   margin: 0;
}

.menuContainer ul > li {
    flex-basis: 20%;
    text-align: center;
}

.circle {
    position: relative;
    top: -125px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    background: url('me.jpg') no-repeat;
    background-size: cover;
}
.welcome { 
    height: 100px;
}
main {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 35vh;
    background: white;
    -webkit-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    margin: 0;
}

.media {
    text-align: center;
}

.media > img {
    padding: 10px;
}

.media > a {
    padding: 10px;
    margin-bottom: 15px;
}

.tab-content {
    display: none;
    text-align: center;
}

#doZmiany, #welcomeTxt {
    text-align: center;
}

#doZmiany h2, #welcomeTxt h2{
   font-size: 48px;
   text-shadow: 0 0 5px rgb(62, 83,111);
}


#aboutTxt {
    position: relative;
    width: 80%;
    left: 10%;
    letter-spacing: .5px;
    font-size: 18px;
}

.tab_animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.tab_animation:hover::after {
    width: 100%;
    transition: width 0.7s;
}

/* ? CONTACT! */


#contactTxt {
    text-align: center;
}

#contactTxt h2 {
    font-size: 48px;
    
}

.contactWrapper {
    display: flex;
    width: 90%;
    position: relative;
    left: 5%;
    justify-content: center;
}

.contactWrapper > div {
    flex-basis: 45%;
    margin-top: 25px;
    margin-bottom: 50px;
}



/* !------TECHNOLOGIE------- */

.technologyContainer {
    margin-top: 75px;
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.technologyContainer > div {
    flex-basis: 25%;
    flex-wrap: wrap;
    text-align: center;
}

.technologyIcon {
    font-size: 64px;
}

@media only screen and (max-width: 768px) {
     
    header {
        height: 55vh;
    }
    .menuContainer > ul {
        flex-direction: column;
    }

    main {
        top: 20vh;
    }

    main p {
        margin-top: 75px !important;
    }
    .welcome {
        display: none;
    }


    .technologyContainer {
        flex-direction: column;
    }
    .technologyContainer > div {
        margin-bottom: 25px;
    }
    #contactTxt h2 {
        margin-top: 75px;
        font-size: 24px;
    }

    .contactWrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
        position: relative;
        left: 5%;
        justify-content: center;
    }
    hr {
        visibility: visible;
    }
}


